@media screen and (max-width: 480px) {
	h1 {
		text-align: center;
		font-size: 2em;
	}
}

@media screen and (min-width: 480px) {
	h1 {
		text-align: center;
		font-size: 2em;
	}
}

@media screen and (min-width: 660px) {
	h1 {
		text-align: center;
		font-size: 3em;
	}


}